@model FitnessProject.Models.MealPlanTrainer

@{
    ViewData["Title"] = "Meal Plan Details";
}

<h2>@Model.PlanName</h2>
<hr />

<dl class="row">
    <dt class="col-sm-2">Trainer</dt>
    <dd class="col-sm-10">@Model.Trainer?.Name</dd>

    <dt class="col-sm-2">Meals</dt>
    <dd class="col-sm-10">
        @if (Model.Meals != null && Model.Meals.Any())
        {
            <ul>
                @foreach (var meal in Model.Meals)
                {
                    <li>@meal.MealName</li>
                }
            </ul>
        }
        else
        {
            <span>No meals assigned</span>
        }
    </dd>
</dl>

<p>
    <a asp-action="MyPlans" class="btn btn-secondary">Back to My Plans</a>
</p>
